@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Poppins:wght@300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.auth-login{
    background-color: #10a37f;
}

.auth-text {
    color: #10a37f;
}
.auth-btn-sign-up{
    background-color: rgb(25, 103, 210);;
}